:root {
  --bg-color: #09061d;
  --txt-color: #E98888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
}

.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--txt-color);
}
